/*
    全局禁止文字被选中
*/
body {
    -moz-user-select:none;/*火狐*/
    -webkit-user-select:none;/*webkit浏览器*/
    -ms-user-select:none;/*IE10*/
    -khtml-user-select:none;/*早期浏览器*/
    user-select:none;/*禁止文字选中*/
}
/*
    每一页的通用样式
*/
.section {
    text-align: center;
    font: 30px "Microsoft Yahei";
    color: #fff;
    display: block;
}

/*
    导航样式
*/
header {
    width: 100%;
    height: 70px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}
header .logo {
    position: fixed;
    left: 18px;
    top: 10px;
}
header .logo img {
    vertical-align: middle;
}
header .nav_bar_head {
    width: 100%;
    height: 70px;
    margin: 0 auto;
    text-align: center;
}
header .nav_bar_head ul {
    display: inline-block;
    list-style: none;
    margin: 0;
    padding: 0;
}
header .nav_bar_head ul li {
    display: inline-block;
}
header .nav_bar_head ul li a {
    display: inline-block;
    height: 67px;
    width: 60px;
    border-top: 3px solid transparent;
    font: normal 16px/70px "微软雅黑";
    color: #ccc;
}
header .nav_bar_head ul li a:hover {
    color: #ff963d;
    text-decoration: none;
}
header .nav_bar_head ul li a:focus {
    text-decoration: none;
}
#menu .active a{
    border-color: #ff963d;
    color: #ff963d;
}
header .header_phone {
    position: fixed;
    top: 0;
    right: 18px;
    height: 70px;
}
header .header_phone i {
    display: inline-block;
    width: 30px;
    height: 30px;
    background: url("../images/icons.png") no-repeat;
    margin-right: 10px;
    position: relative;
    top: 9px;
    left: 0;
}
header .header_phone span {
    font: bold 20px/70px Arial;
    letter-spacing: 1px;
    color: #ff963d;
    cursor: pointer;
}
/*
    导航的透明背景
*/
header .bg {
    width: 100%;
    height: 70px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    background-color: rgb(51, 51, 51);
    opacity: .6;
}

/*
    轮播图样式调整
*/
#picture_button {
    bottom: 20px;
}
#picture_button li {
    height: 5px;
    width: 50px;
    background-color: #999;
    border: none;
    margin: 0 5px;
}
#picture_button .active {
    background-color: #ff963d;
}
#picture_rolling {
    height: 100%;
    width: 100%;
}
#picture_rolling .item {
    height:100%;
    width:100%;
    background: url("../images/picture1.png") no-repeat;
    background-size: cover
}
#picture_rolling .item:nth-child(2) {
    background: url("../images/picture2.png") no-repeat;
    background-size: cover
}
#picture_rolling .item:nth-child(3) {
    background: url("../images/picture3.png") no-repeat;
    background-size: cover
}
#picture_rolling .item:nth-child(4) {
    background: url("../images/picture4.png") no-repeat;
    background-size: cover
}
/*
    第二部分
*/
.section2 {
    background: url("../images/1.jpg") 50%;
    background-size: cover;
}
.section2 .we_do {
    margin: 0 auto;
}
.section2 .we_do h3 {
    font: normal 24px/50px "微软雅黑";
    color: #333;
}
.section2 .we_do .sever_list {
    display: inline-block;
    list-style: none;
    margin: 40px 0 0;
    padding: 0;
}
.section2 .we_do .sever_list li {
    display: inline-block;
    width: 210px;
    height: 300px;
    position: relative;
    overflow: hidden;
    text-align: center;
    margin: 0 10px;
}
.section2 .we_do .sever_list li u {
    display: block;
    position: absolute;
    width: 156px;
    height: 156px;
    margin-left: 27px;
    background: url("../images/contents.png") no-repeat 0 -363px;
}
.section2 .we_do .sever_list li i {
    display: inline-block;
    margin-top: 40px;
    width: 69px;
    height: 69px;
    background: url("../images/contents.png") no-repeat -245px -357px;
}
.section2 .we_do .sever_list li h3 {
    font: normal 16px/30px "微软雅黑";
    color: #000;
    margin-top: 70px;
}
.section2 .we_do .sever_list li p {
    width: 210px;
    margin: 0 auto;
    font: normal 12px/20px "微软雅黑";
    position: relative;
    top: 200px;
    left: 0;
}
/*
    hover变样式
*/
.section2 .we_do .sever_list li:hover {
    background-color: #ff963d;
}
.section2 .we_do .sever_list li:hover u{
    background: none;
}
.section2 .we_do .sever_list li:hover i{
    background: url("../images/contents.png") no-repeat -168px -357px;
}
.section2 .we_do .sever_list li:hover p {
    top: 10px;
}
/*
    每一张背景图修改
*/
.section2 .we_do .sever_list li:nth-child(2) i {
    width: 64px;
    background: url("../images/contents.png") no-repeat -416px -291px;
}
.section2 .we_do .sever_list li:nth-child(2):hover i{
    background: url("../images/contents.png") no-repeat -337px -291px;
}
.section2 .we_do .sever_list li:nth-child(3) i {
    width: 76px;
    background: url("../images/contents.png") no-repeat -415px -362px;
}
.section2 .we_do .sever_list li:nth-child(3):hover i{
    background: url("../images/contents.png") no-repeat -327px -362px;
}
.section2 .we_do .sever_list li:nth-child(4) i {
    width: 74px;
    background: url("../images/contents.png") no-repeat -244px -439px;
}
.section2 .we_do .sever_list li:nth-child(4):hover i{
    background: url("../images/contents.png") no-repeat -164px -439px;
}
.section2 .we_do .sever_list li:nth-child(5) i {
    width: 79px;
    background: url("../images/contents.png") no-repeat -420px -439px;
}
.section2 .we_do .sever_list li:nth-child(5):hover i{
    background: url("../images/contents.png") no-repeat -335px -439px;
}
/*
    不同宽度媒体修改
*/
@media (max-width: 1200px) {
    .section2 .we_do .sever_list li {
        width: 180px;
        height: 270px;
    }
    .section2 .we_do .sever_list li u {
        display: none;
    }
    .section2 .we_do .sever_list li h3 {
        margin-top: 40px;
    }
    .section2 .we_do .sever_list li p {
        width: 170px;
    }
}
@media (max-width: 1040px) {
    .section2 .we_do .sever_list li {
        width: 270px;
        height: 80px;
    }
    .section2 .we_do .sever_list li u {
        display: none;
    }
    .section2 .we_do .sever_list li i {
        margin-top: 0;
        text-align: left;
    }
    .section2 .we_do .sever_list li h3 {
        display: inline-block;
        margin: 0;
        height: 100%;
        vertical-align: middle;
        text-indent: 2em;
    }
    .section2 .we_do .sever_list li p {
        display: none;
    }
}

/*
    第三部分
*/
.section3 {
    background: url("../images/2.jpg") 50%;
    background-size: cover;
}
.section3 .responsive {
    text-align: center;
}
.section3 .responsive .responsive_logo {
    display: inline-block;
    text-align: center;
    margin: 0 0 60px;
}
.section3 .responsive .responsive_logo i {
    display: block;
    width: 240px;
    height: 37px;
    margin: 0 auto;
    background: url("../images/contents.png") no-repeat 0 -576px;
}
.section3 .responsive .responsive_logo span {
    font: normal 24px "微软雅黑";
    color: #fff;
}
.section3 .responsive .responsive_item {
    margin: 0 auto;
}
.section3 .responsive .responsive_part {
    display: inline-block;
    margin: 0 50px;
    vertical-align: top;
}
.section3 .responsive .responsive_part ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.section3 .responsive .responsive_part ul li {
    display: inline-block;
    margin: 0 8px 0 7px;
}
.section3 .responsive .responsive_part p {
    font: normal 14px/36px "微软雅黑";
    color: #e1e1e1;
    text-align: center;

}

/*第三页下的图片修改*/
.section3 .responsive .responsive_part .mobile {
    width: 14px;
    height: 27px;
    background: url("../images/icons.png") no-repeat 0 -264px;
}
.section3 .responsive .responsive_part .pad {
    width: 29px;
    height: 23px;
    background: url("../images/icons.png") no-repeat -71px -264px;
}
.section3 .responsive .responsive_part .pc {
    width: 35px;
    height: 27px;
    background: url("../images/icons.png") no-repeat 0 -303px;
}
.section3 .responsive .responsive_part .ie {
    width: 28px;
    height: 28px;
    background: url("../images/icons.png") no-repeat 0 -392px;
}
.section3 .responsive .responsive_part .chrome {
    width: 30px;
    height: 30px;
    background: url("../images/icons.png") no-repeat -71px -392px;
}
.section3 .responsive .responsive_part .firefox {
    width: 32px;
    height: 30px;
    background: url("../images/icons.png") no-repeat 0 -432px;
}
.section3 .responsive .responsive_part .safari {
    width: 30px;
    height: 32px;
    background: url("../images/icons.png") no-repeat -71px -432px;
}
.section3 .responsive .responsive_part .window {
    width: 27px;
    height: 27px;
    background: url("../images/icons.png") no-repeat -73px -304px;
}
.section3 .responsive .responsive_part .ios {
    width: 24px;
    height: 30px;
    background: url("../images/icons.png") no-repeat 0 -344px;
}
.section3 .responsive .responsive_part .android {
    width: 28px;
    height: 29px;
    background: url("../images/icons.png") no-repeat -73px -345px;
}
