/*
    全局禁止文字被选中
*/
body {
    -moz-user-select:none;/*火狐*/
    -webkit-user-select:none;/*webkit浏览器*/
    -ms-user-select:none;/*IE10*/
    -khtml-user-select:none;/*早期浏览器*/
    user-select:none;/*禁止文字选中*/
}
/*
    每一页的通用样式
*/
.section {
    text-align: center;
    font: 30px "Microsoft Yahei";
    color: #fff;
    display: block;
}

/*
    导航样式
*/
header {
    width: 100%;
    height: 70px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}
header .logo {
    position: fixed;
    left: 18px;
    top: 10px;
}
header .logo img {
    vertical-align: middle;
}
header .nav_bar_head {
    width: 100%;
    height: 70px;
    margin: 0 auto;
    text-align: center;
}
header .nav_bar_head ul {
    display: inline-block;
    list-style: none;
    margin: 0;
    padding: 0;
}
header .nav_bar_head ul li {
    display: inline-block;
}
header .nav_bar_head ul li a {
    display: inline-block;
    height: 67px;
    width: 60px;
    border-top: 3px solid transparent;
    font: normal 16px/70px "微软雅黑";
    color: #ccc;
}
header .nav_bar_head ul li a:hover {
    color: #ff963d;
    text-decoration: none;
}
header .nav_bar_head ul li a:focus {
    text-decoration: none;
}
#menu .active a{
    border-color: #ff963d;
    color: #ff963d;
}
header .header_phone {
    position: fixed;
    top: 0;
    right: 18px;
    height: 70px;
}
header .header_phone i {
    display: inline-block;
    width: 30px;
    height: 30px;
    background: url("/public/images/logos.png") no-repeat 0 -64px;
    margin-right: 10px;
    position: relative;
    top: 9px;
    left: 0;
}
header .header_phone span {
    font: bold 20px/70px Arial;
    letter-spacing: 1px;
    color: #ff963d;
    cursor: pointer;
}
/*
    导航的透明背景
*/
header .bg {
    width: 100%;
    height: 70px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    background-color: rgb(51, 51, 51);
    opacity: .6;
    filter: alpha(opacity:60);
}

/*
    轮播图样式调整
*/
#picture_button {
    bottom: 20px;
}
#picture_button li {
    height: 5px;
    width: 50px;
    background-color: #999;
    border: none;
    margin: 0 5px;
}
#picture_button .active {
    background-color: #ff963d;
}
#picture_rolling {
    height: 100%;
    width: 100%;
}
#picture_rolling .item {
    height:100%;
    width:100%;
    background: url("/public/images/picture1.png") no-repeat;
    background-size: cover
}
#picture_rolling .item:nth-child(2) {
    background: url("/public/images/picture2.png") no-repeat;
    background-size: cover
}
#picture_rolling .item:nth-child(3) {
    background: url("/public/images/picture3.png") no-repeat;
    background-size: cover
}
#picture_rolling .item:nth-child(4) {
    background: url("/public/images/picture4.png") no-repeat;
    background-size: cover
}
/*
    第二部分
*/
.section2 {
    background: url("/public/images/bg1.png") no-repeat;
    background-size: cover;
}
.section2 .we_do {
    margin: 0 auto;
}
.section2 .we_do i{
    display: inline-block;
    width: 320px;
    height: 31px;
    background: url("/public/images/contents.png") no-repeat 0 -294px;
}
.section2 .we_do h3 {
    font: normal 24px/50px "微软雅黑";
    color: #333;
}
.section2 .we_do .sever_list {
    display: inline-block;
    list-style: none;
    margin: 40px 0 0;
    padding: 0;
}
.section2 .we_do .sever_list li {
    display: inline-block;
    width: 210px;
    height: 300px;
    position: relative;
    overflow: hidden;
    text-align: center;
    margin: 0 10px;
}
.section2 .we_do .sever_list li u {
    display: block;
    position: absolute;
    width: 156px;
    height: 156px;
    margin-left: 27px;
    background: url("/public/images/contents.png") no-repeat 0 -363px;
}
.section2 .we_do .sever_list li i {
    display: inline-block;
    margin-top: 45px;
    width: 60px;
    height: 69px;
    background: url("/public/images/APP开发.png") no-repeat 0 0;
}
.section2 .we_do .sever_list li h3 {
    font: normal 16px/30px "微软雅黑";
    color: #000;
    margin-top: 70px;
}
.section2 .we_do .sever_list li p {
    width: 210px;
    margin: 0 auto;
    font: normal 12px/20px "微软雅黑";
    position: relative;
    top: 200px;
    left: 0;
}
/*
    hover变样式
*/
.section2 .we_do .sever_list li:hover {
    background-color: #ff963d;
}
.section2 .we_do .sever_list li:hover u{
    background: none;
}
.section2 .we_do .sever_list li:hover i{
    background: url("/public/images/APP开发2.png") no-repeat 0 0;
}
.section2 .we_do .sever_list li:hover p {
    top: 10px;
}
/*
    每一张背景图修改
*/
.section2 .we_do .sever_list li:nth-child(2) i {
    width: 74px;
    background: url("/public/images/微信1.png") no-repeat 0 0;
}
.section2 .we_do .sever_list li:nth-child(2):hover i{
    background: url("/public/images/微信.png") no-repeat 0 0;
}
.section2 .we_do .sever_list li:nth-child(3) i {
    width: 63px;
    background: url("/public/images/系统开发1.png") no-repeat 0 0;
}
.section2 .we_do .sever_list li:nth-child(3):hover i{
    background: url("/public/images/系统开发.png") no-repeat 0 0;
}
.section2 .we_do .sever_list li:nth-child(4) i {
    width: 68px;
    background: url("/public/images/网站定制1.png") no-repeat 0 0;
}
.section2 .we_do .sever_list li:nth-child(4):hover i{
    background: url("/public/images/网站定制.png") no-repeat 0 0;
}
.section2 .we_do .sever_list li:nth-child(5) i {
    width: 60px;
    background: url("/public/images/运维1.png") no-repeat 0 0;
}
.section2 .we_do .sever_list li:nth-child(5):hover i{
    background: url("/public/images/运维.png") no-repeat 0 0;
}
/*
    不同宽度媒体修改
*/
@media (max-width: 1200px) {
    .section2 .we_do .sever_list li {
        width: 180px;
        height: 270px;
    }
    .section2 .we_do .sever_list li u {
        display: none;
    }
    .section2 .we_do .sever_list li h3 {
        margin-top: 40px;
    }
    .section2 .we_do .sever_list li p {
        width: 170px;
    }
}
@media (max-width: 1040px) {
    .section2 .we_do .sever_list li {
        width: 270px;
        height: 80px;
    }
    .section2 .we_do .sever_list li u {
        display: none;
    }
    .section2 .we_do .sever_list li i {
        margin-top: 0;
        text-align: left;
    }
    .section2 .we_do .sever_list li h3 {
        display: inline-block;
        margin: 0;
        height: 100%;
        vertical-align: middle;
        text-indent: 2em;
    }
    .section2 .we_do .sever_list li p {
        display: none;
    }
}

/*
    第三部分
*/
.section3 {
    background: url("/public/images/bg2.png") no-repeat;
    background-size: cover;
}
.section3 .responsive {
    text-align: center;
}
.section3 .responsive .responsive_logo {
    display: inline-block;
    text-align: center;
    margin: 0 0 60px;
}
.section3 .responsive .responsive_logo i {
    display: block;
    width: 240px;
    height: 37px;
    margin: 0 auto;
    background: url("/public/images/contents.png") no-repeat 0 -576px;
}
.section3 .responsive .responsive_logo h4 {
    font: normal 24px "微软雅黑";
    margin: 20px 0 0;
    color: #333;
}
.section3 .responsive .responsive_item {
    margin: 0 auto;
}
.section3 .responsive .responsive_part {
    display: inline-block;
    margin: 0 50px;
    vertical-align: top;
}
.section3 .responsive .responsive_part ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.section3 .responsive .responsive_part ul li {
    display: inline-block;
    margin: 0 8px 0 7px;
}
.section3 .responsive .responsive_part p {
    font: normal 14px/36px "微软雅黑";
    color: #333;
    text-align: center;

}

/*第三页下的图片修改*/
.section3 .responsive .responsive_part .mobile {
    width: 14px;
    height: 27px;
    background: url("/public/images/icons.png") no-repeat 0 -264px;
}
.section3 .responsive .responsive_part .pad {
    width: 29px;
    height: 23px;
    background: url("/public/images/icons.png") no-repeat -71px -264px;
}
.section3 .responsive .responsive_part .pc {
    width: 35px;
    height: 27px;
    background: url("/public/images/icons.png") no-repeat 0 -303px;
}
.section3 .responsive .responsive_part .ie {
    width: 28px;
    height: 28px;
    background: url("/public/images/icons.png") no-repeat 0 -392px;
}
.section3 .responsive .responsive_part .chrome {
    width: 30px;
    height: 30px;
    background: url("/public/images/icons.png") no-repeat -71px -392px;
}
.section3 .responsive .responsive_part .firefox {
    width: 32px;
    height: 30px;
    background: url("/public/images/icons.png") no-repeat 0 -432px;
}
.section3 .responsive .responsive_part .safari {
    width: 30px;
    height: 32px;
    background: url("/public/images/icons.png") no-repeat -71px -432px;
}
.section3 .responsive .responsive_part .window {
    width: 27px;
    height: 27px;
    background: url("/public/images/icons.png") no-repeat -73px -304px;
}
.section3 .responsive .responsive_part .ios {
    width: 24px;
    height: 30px;
    background: url("/public/images/icons.png") no-repeat 0 -344px;
}
.section3 .responsive .responsive_part .android {
    width: 28px;
    height: 29px;
    background: url("/public/images/icons.png") no-repeat -73px -345px;
}

/*
    第四页样式
*/
/*标题样式*/
.section4 {
    background: url("/public/images/bg3.png") no-repeat;
    background-size: cover;
}
.section4 .procedure {
    display: inline-block;
    text-align: center;
}
.section4 .procedure i {
    display: block;
    margin: 0 auto;
    width: 240px;
    height: 37px;
    background: url("/public/images/contents.png") no-repeat right -576px;
}
.section4 .procedure h3 {
    font: normal 24px "微软雅黑";
    color: #333;
}
/*图片列表样式*/
.section4 .procedure_list .procedure_father {
    display: inline-block;
    list-style: none;
    margin: 40px 0 0;
    padding: 0;
    vertical-align: top;
}
.section4 .procedure_list .procedure_father li {
    display: inline-block;
    width: 128px;
    height: 238px;
    margin:  0 20px;
    position: relative;
    overflow: hidden;
}
.section4 .procedure_list .procedure_father li u {
    display: none;
    width: 128px;
    height: 128px;
    background: url("/public/images/contents.png") no-repeat 0 -624px;
    position: absolute;
    top: 0;
    left: 0;
}
.section4 .procedure_list .procedure_father li i{
    display: inline-block;
    height: 70px;
    margin-top: 25px;
    background: url("/public/images/logos.png") no-repeat;

}
.section4 .procedure_list .procedure_father li h4 {
    margin-top: 40px;
    font: bold 16px/1.4 "微软雅黑";
    color: #333;
}
.section4 .procedure_list .procedure_father li p {
    height: 60px;
    font: normal 14px/20px "微软雅黑";
    color: #333;
    margin: 0;
}
.section4 .procedure_list .procedure_father li:hover u {
    display: block;
}
/*列表图片更换*/
.section4 .procedure_list .procedure_father li:nth-child(1) i{
    width: 47px;
    background-position: -43px 12px;

}
.section4 .procedure_list .procedure_father li:nth-child(2) i{
    width: 54px;
    background-position: 11px 12px;

}
.section4 .procedure_list .procedure_father li:nth-child(3) i{
    width: 60px;
    background-position: -91px 14px;

}
.section4 .procedure_list .procedure_father li:nth-child(4) i{
    width: 46px;
    background-position: -150px 14px;

}
.section4 .procedure_list .procedure_father li:nth-child(5) i{
    width: 38px;
    background-position: -201px 14px;

}
.section4 .procedure_list .procedure_father li:nth-child(6) i{
    width: 45px;
    background-position: -244px 15px;
}

/*
    第五页样式
*/
.section5 .connect_button {
    position: absolute;
    width: 82px;
    height: 84px;
    top: 180px;
    left: 50px;
    background-color: #333;
    cursor: pointer;
}
.section5 .connect_button div {
    width: 82px;
    height: 42px;
    font: normal 16px/42px "微软雅黑";
    color: #888;
}
.section5 .connect_button div:nth-child(1){
    color: #fff;
    background-color: #000;
}
.section5 .connect_message,
.section5 .connect_message .connect_content{
    width: 485px;
    height: 250px;
    text-align: left;
}
.section5 .connect_message {
    position: absolute;
    top: 30%;
    right: 15%;
}
.section5 .connect_message .connect_content h3 {
    font: normal 40px "微软雅黑";
    color: #ff963d;
    text-indent: 36px;
    margin-bottom: 30px;
}
.section5 .connect_message .connect_content p {
    font:normal 18px/34px "微软雅黑";
    color: #000;
    text-indent: 2em;
}
.section5 .connect_message .connect_content1 h3 {
    color: #333;
    text-indent: 0;
}
.section5 .connect_message .connect_content1 p {
    text-indent: 0;
    font-size: 16px;
}
.section5 .connect_message .connect_content1 h4 {
    font: normal 30px "微软雅黑";
    color: #333;
}
/*第五页底部样式*/
.section5 {
    background: url("/public/images/bg4.png") no-repeat;
    background-size: cover;
}
.section5 .connect_foot {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
}
.section5 .connect_foot_bg_content {
    width: 100%;
    height: 50px;
    position: absolute;
    top: 0;
    left: 0;
}
.section5 .connect_foot_bg_content ul {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.section5 .connect_foot_bg_content ul li {
    display: inline-block;
    width: 19%;
    text-align: center;
    font: normal 16px "微软雅黑";
    color: #fff;
}
.section5 .connect_foot_bg_content ul li span {
    font: normal 20px "微软雅黑";
    color: #ff963d;
    margin: 0 5px;
}
.section5 .connect_foot_bg {
    height: 50px;
    width: 100%;
    background-color: #000;
    opacity: .6;
    filter: alpha(opacity:60);
}
.section5 .connect_footer {
    background-color: #333;
    height: 120px;
    vertical-align: middle;
}
.section5 .connect_footer i {
    display: inline-block;
    width: 90px;
    height: 87px;
    background: url("/public/images/logo2.png") no-repeat;
    margin: 20px 20px 0 0;
    overflow: hidden;
}
.section5 .connect_footer div {
    display: inline-block;
    position: relative;
    top: -15px;
    left: 10px;
}
.section5 .connect_footer div p {
    font: normal 16px "微软雅黑";
    color: #fff;
    clear: both;
    overflow: hidden;
}
/*底部透明处样式修改*/
@media (max-width: 1000px) {
    .section5 .connect_foot_bg_content ul li {
        width: 24%;
    }
    .section5 .connect_foot_bg_content ul li:nth-last-child(1) {
        display: none;
    }
}
@media (max-width: 800px) {
    .section5 .connect_foot_bg_content ul li {
        width: 32%;
    }
    .section5 .connect_foot_bg_content ul li:nth-last-child(1),
    .section5 .connect_foot_bg_content ul li:nth-last-child(2) {
        display: none;
    }
}

/*
    联系方式样式
*/
.contact_father {
    width: 50px;
    height: 210px;
    position: fixed;
    z-index: 3;
    right: 0;
    top: 50%;
    margin-top: -105px;
}
.contact_us {
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    padding: 30px 0;
    background-color: #333;
}
.contact_us ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.contact_us ul li {
    cursor: pointer;
}
.contact_us ul li i {
    display: block;
    position: relative;
    width: 50px;
    height: 50px;
    background: url("/public/images/icons.png") no-repeat -63px -20px;
}
.contact_us ul li:nth-child(2) i {
    background-position: -62px -108px;
}
.contact_us ul li:nth-child(3) i {
    background-position: -59px -66px;
}
.contact_us ul li div {
    display: none;
    box-sizing: border-box;
    padding: 20px;
    width: 156px;
    height:152px;
    position: absolute;
    right: 50px;
    top: 50%;
    margin-top: -76px;
    background-color: #333;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    text-align: center;
    cursor: text;
}
.contact_us ul li div p {
    font: normal 14px "微软雅黑";
    color: #fff;
    text-align: left;
}
.contact_us ul li div a {
    text-decoration: none;
    display: inline-block;
    width: 100px;
    height: 40px;
    margin-top: 5px;
    border: 1px solid #ff8700;
    border-radius: 7px;
    font: normal 18px/40px "微软雅黑";
    color: #ff8700;
}
.contact_us ul li div a:hover {
    border-color: #ff8700;
    background-color: #ff8700;
    color: #fff;
}
.contact_us ul li:hover i {
    opacity: .6;
    filter: alpha(opacity:60);
}
.contact_us ul li:hover div {
    display: block;
}
/*微信图片*/
.contact_us div .weixinma {
    display: inline-block;
    width: 114px;
    height: 114px;
    background: url("/public/images/icons2.png") no-repeat 0 -160px;
}


/*关闭按钮*/
#contact_us_close {
    width: 26px;
    height: 26px;
    position: absolute;
    left: 13px;
    bottom: -56px;
    background: url("/public/images/icons.png") no-repeat 0 -640px;
    cursor: pointer;
}